{% extends 'crud/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block contenido %}

<div class="container">
    <div class="row">
      {% for item in food %}
      <div class="col-4">
        <div class="card my-2">
            <img class="card-img-top" src= '{{item.strMealThumb}}' alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">{{item.strMeal}}</h5> 
              <a href="" class="btn btn-dark">PEDIR</a>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock contenido %}