{% extends 'crud/base.html' %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<style>

    
</style>

<div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
            <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a> -->
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container d-flex justify-content-center">
              <div class="card p-4">
                  <div class=" image d-flex flex-column justify-content-center align-items-center">
                      <button id='btn' class="btn btn-secondary"> <img src=" {% static 'img/perfil/men_perfil.png' %} " height="100"
                              width="100" /></button>
                      <span class="name mt-3"> {{cliente.nombre}} {{cliente.apellido_pa}} </span>
                      <span class="idd">@{{request.user.username}}</span>
                      <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                          <span class="idd1"> {{cliente.rut_cliente}} </span>
                      </div> 
                      {% comment %} <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                          <span class="number">1069 <span class="follow">Followers</span></span>
                      </div> {% endcomment %}
                      <div class=" d-flex mt-2">
                          <button class="btn1 btn-dark">Editar Perfil</button>
                      </div>
                      <div class="text mt-3 text-center" >
                        <h4> Mis direcciones </h4>
                        <p>Direccion principal:</p>
                        <span> {{cliente.direccion_cli}} </span>
                        <p>Direccion Secundarias:</p>
                      </div>
                      {% comment %} <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                                  class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                                  class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                      <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div> {% endcomment %}
                  </div>
              </div>
          </div>
            <br>  
            <div class="container d-flex flex-row justify-content-center align-items-center">
              <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger mx-2">Cerrar Sesion</button></a>
            </div>  

          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            aqui quiero poner un la data del perfil junto a un formulario para cambiar los datos de direccion, nombre etc
          </div>
          <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
          </div>
          <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
          </div> -->
        </div>
      
      </div>
    </div>
</div>
</div>
</div>




{% endblock contenido %}