{% extends 'crud/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mt-3 border rounded shadow p-3 text-light">
            <h3 class="display-4">Datos de Perfil</h3>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}        
                <button type="submit" class="button btn btn-dark d-block"> Registrar</button>
            </form>
            <br>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


{% endblock contenido %}